.dialog-container {
  background-color: rgba(0, 0, 0, 0.754);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5rem;

  .dialog {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 40%;
      object-fit: contain;
      border-radius: 15px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.754);
      @media only screen and (max-width: 800px) {
      width: 100%;
      }
    }
  }
}
