@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

//colors
$headerBackgroundColor: #5f4341;
$backgroundColor: #e4c7ab;
$textColor: #000000;
$textLightColor: #6f6b6b;


//fonts
$mainFont: "Rubik", sans-serif;
