@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "./variables";
@import "./navbar";
@import "./footer";
@import "./bannerHero";
@import "./products";
@import "./cart";
@import "./imageDialog";

body {
  font-family: "Rubik", sans-serif;
  background-color: $backgroundColor;
  font-weight: 300;
}

main {
  min-height: 95rem;
}
